:root {
  --accent-color: #2196F3;
  --accent-2-color: #188CE8;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --footer-bg-color: #2F303A;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --worklist-bg-color: rgba(47, 48, 58, 0.8);
  --hero-bg-color: #C4C4C4;
  --team-bg-color: #F5F4FA;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ECECEC;
  --border-color: #EEEEEE;
  --social-link-color: #AFB1B8;
  --connect-bg-cos-color: rgba(255, 255, 255, 0.1);
  --example-popup-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --close-button-border-color: rgba(0, 0, 0, 0.1);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --modal-input-bg-color: rgba(33, 33, 33, 0.2);
  --footer-input-bg-color: rgba(255, 255, 255, 0.3);
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --examples-gap: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-button {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover, .main-button:focus {
  background-color: var(--accent-2-color);
}

@keyframes changeCurrentLine {
  0% {
    transform: scaleX(0);
  }
  /* 50% {
      transform: scaleX(0.6);
  } */
  100% {
    transform: scaleX(1);
  }
}
.logo {
  margin-right: 93px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social_item:not(:last-child) {
  margin-right: 10px;
}

.social_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-link-color);
  background-color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_link:hover,
.social_link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  outline: none;
}

.social_icon {
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid var(--header-border-color);
  background-color: var(--white-color);
}

.page-header .container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* min-height: 80px; */
}

nav {
  display: flex;
  align-items: center;
}

.logo-header {
  color: var(--black-color);
}

.site-nav,
.contacts-nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.contacts-nav {
  margin-left: auto;
}

.site-nav .item:not(:last-child),
.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -20px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  /* visibility: hidden; */
  /* opacity: 0; */
}

.site-nav .current.link::after {
  /* transform: scaleX(1); */
  /* visibility: visible; */
  /* opacity: 1; */
  animation: changeCurrentLine 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.contacts-nav .link {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .current,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  text-align: center;
  background-image: linear-gradient(to bottom, var(--hero-gradient-color), var(--hero-gradient-color)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.feature-list {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.feature-item {
  flex-basis: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.feature-list .text {
  font-weight: 400;
}

.works {
  padding-top: 0;
}

.works-list {
  display: flex;
}

.works-list .item:not(:last-child) {
  margin-right: 30px;
}

.works-list .item {
  position: relative;
}

.works-list .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  /* padding-top: 27px;
    padding-bottom: 27px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--worklist-bg-color);
}

.team {
  background-color: var(--team-bg-color);
}

.team-list {
  display: flex;
}

.team-list > .item {
  width: 270px;
  background-color: var(--white-color);
  text-align: center;
  /* padding-bottom: 30px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-cards-img {
  margin-bottom: 30px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--social-link-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .client-link:hover {
  color: var(--accent-color);
}

.clients-list .client-link:focus {
  color: var(--accent-color);
  outline: none;
}

.client-icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */