body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: var(--white-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}