body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: var(--white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}