@mixin fonts ($fs:14px, $fw:400, $lh:1.714, $ls:0.03em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flexXY ($df:flex, $ai:center, $jc:center) {
  display: $df;
  align-items: $ai;
  justify-content: $jc;
}

@mixin flexX ($df: flex, $ai: center) {
  display: $df;
  align-items: $ai;
}