.clients-list {
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

// .clients-list 
.client-list__link {
    @include flexXY();
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--social-link-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }
  
  &:focus {
    color: var(--accent-color);
    outline: none;
  }
}


.client-list__icon {
  fill: currentColor
}