.feature-list {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.feature-list__item {
  flex-basis: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}


.feature-list__icon-field {
    @include flexXY();
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
}

.feature-list__title {
    @include fonts(14px, 700, 1.143);
  // font-size: 14px;
  // font-weight: 700;
  // line-height: 1.143;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--title-text-color);
}

.feature-list__text {
  font-weight: 400;
}